.reg-form{
  width: 80%;
  margin-top: 50px;

}
.reg-form h1{
  margin-bottom: 28px;
}
.form-label{
  font-size: 12px;
}

.t-data{
  margin-top: 20px;
  width: 90%;

}
.heading{
  border-bottom: 1px solid gray;
  display: inline-block;
  margin-bottom: 15px;

}