*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 100vh;
  background-color: aliceblue;
  
}

html{
  font-size: 62.5%;
}



#wish-time{
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #12191D;
  margin-top: 0.8rem;
}

#successMessage{
  color: #fff;
  background-color: green;
  display: inline-block;
  padding: 1rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  position: absolute;
  right: 2rem;
  text-align: left;
  transition: all 5s ease;
}

/* START NAVIGATION SECTION */

/* ********************************* */
/* HEADER */
/* ********************************* */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343A40;
  height: 5.6rem;
  padding: 0 1rem;
  position: relative;
}

.logo{
  height: 20px;
}

/* ********************************* */
/* NAVIGATION */
/* ********************************* */

.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: #5BC7F8;
  font-size: 1.3rem;
  transition: all 0.3s;
}


.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  font-size: 1.2rem;
  padding: 0.6rem 2.4rem;
  border-radius: 6px;
  color: #e67e22;
  border: 1px solid #eeb582;
}

.main-nav-link.nav-cta:link:hover{
  background-color: aliceblue;
  border: 1px solid #FAFCFF;
}
.main-nav-link.nav-cta.logout{
  display: none;
}

.user-img{
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  cursor: pointer;
}


/* MOBILE VIEW*/
.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;
  display: none;

}

.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color: #FAFCFF;
}


      .icon-mobile-nav[name="close-outline"]{
        display: none;
      }


   


      @media(max-width:1000px){
          /* MOBILE NAVIGATION */
  .btn-mobile-nav{
    display: block;
    z-index: 9999;
  }

  .main-nav{
    background-color: rgba(255,255,255,0.9);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 70px;
    right: 10px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* HIde  navigation */
    /* Allows no transtions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it  unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */

    visibility: hidden;

  }

  .nav-open .main-nav{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);

  }

  .nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
  }


  .nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
  }

  .main-nav-list{
    flex-direction: column;
    gap: 1.8rem;
  }
  .main-nav-link:link,
.main-nav-link:visited{
  color: black;

}
.main-nav-link.nav-cta.logout{
  display: block;
}

}

.main-nav-link:link,
.main-nav-link:visited{
  font-size: 2rem;
}
      
/* END NAVIGATION */

/* main container */

.main-conatiner{
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
  width: 100%;
}

.ss{
  background-color: aliceblue;
  color: #263238;
  text-align: center;
}
.note{
  display: none;
}


/* SIDE MENU SECTION */


.section-menu{
  background-color: #343A40 ;
  padding-top: 1.6rem;
}


.main-menu{
 text-decoration: none;
 padding: 0.6rem 1.8rem;
 font-size: 1.2rem;
 font-family: sans-serif;
 font-weight: 400;
  text-transform: uppercase;
 color: #FAFCFF;
 display: flex;
 align-items: center;

}


.main-menu:link,.main-menu:visited{
  transition: all 0.4s;
}

.section-menu a:hover{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  padding: 1.4rem 1.8rem;
  
}

.icon-menu-section{
  height: 3.2rem;
  width: 1.8rem;
  display: flex;
  margin-right: 0.6rem;
}


@media(max-width:600px){
  .section-menu{
    display: none;
  }
  .main-conatiner{
    grid-template-columns: 1fr;
  }
  .note{
    display: block;
    color: red;
    text-align: center;
  }
  .ss{
    background-image: url("https://source.unsplash.com/1100x900/?nature");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}