*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 100vh;
  background-color: aliceblue;
  
}

html{
  font-size: 62.5%;
}

/* ********************************* */
/* HEADER */
/* ********************************* */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12191D;
  color: #fff;
  height: 6.2rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo{
  height: 2.2rem;
}

/* ********************************* */
/* NAVIGATION */
/* ********************************* */

.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active{
  color: #cf711f;
}
.user-img{
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  cursor: pointer;
}
/* MOBILE */
.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;
  display: none;

}

.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color: aliceblue;
}

.icon-mobile-nav[name="close-outline"]{
  display: none;
}

/* SIDE MENU SECTION */

.menu-section{
  display: grid;
  grid-template-columns: 250px 1fr;
}

.section-menu{
  background-color: #12191D ;
  padding-top: 1.6rem;
}

.ss{
 
  background-color: RED;
  color: #263238;
  text-align: center;
}


.main-menu{
 text-decoration: none;
 padding: 0.6rem 1.8rem;
 font-size: 1.2rem;
 font-family: sans-serif;
 font-weight: 400;
  text-transform: uppercase;
 color: #B0BCC2;
 display: flex;
 align-items: center;

}



.main-menu:link,.main-menu:visited{
  transition: all 0.4s;
}

.section-menu a:hover{
  color: #90a4ae;
  background-color: #263238;
  padding: 1.4rem 1.8rem;
  
}

.icon-menu-section{
  height: 3.2rem;
  width: 1.8rem;
  display: flex;
  margin-right: 0.6rem;
}


#wish-time{
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  margin-top: 0.8rem;
}

#successMessage{
  color: #fff;
  background-color: green;
  display: inline-block;
  padding: 1rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  position: absolute;
  right: 2rem;
  text-align: left;
  transition: all 5s ease;
}

.btn-upgrade{
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}


#usernameDisplay{
  font-size: 14px;
  margin-top: 10px;
  color: pink;
}

.icon{
  font-size: 30px;
  cursor: pointer;
}



