*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 100vh;
  background-color: aliceblue;
  
}

html{
  font-size: 62.5%;
}



#wish-time{
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #12191D;
  margin-top: 0.8rem;
}

#successMessage{
  color: #fff;
  background-color: green;
  display: inline-block;
  padding: 1rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  position: absolute;
  right: 2rem;
  text-align: left;
  transition: all 5s ease;
}
/* Nvigation section */

.logo{
  height: 22px;
}
.nav-link{
  font-size: 14px !important;
}

/* main container */

.main-conatiner{
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
  width: 100%;
}

/* SIDE MENU SECTION */


.section-menu{
  background-color: #12191D ;
  padding-top: 1.6rem;
}


.main-menu{
 text-decoration: none;
 padding: 0.6rem 1.8rem;
 font-size: 1.2rem;
 font-family: sans-serif;
 font-weight: 400;
  text-transform: uppercase;
 color: #B0BCC2;
 display: flex;
 align-items: center;

}


.main-menu:link,.main-menu:visited{
  transition: all 0.4s;
}

.section-menu a:hover{
  color: #90a4ae;
  background-color: #263238;
  padding: 1.4rem 1.8rem;
  
}

.icon-menu-section{
  height: 3.2rem;
  width: 1.8rem;
  display: flex;
  margin-right: 0.6rem;
}

/* MOBILE MENU*/
.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;
  display: none;

}

.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}


      .icon-mobile-nav[name="close-outline"]{
        display: none;
      }




.ss{
  background-color: aliceblue;
  color: #263238;
  text-align: center;
}


/* ********************************* */
/* HEADER */
/* ********************************* */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFCFF;
  /* background-color: #263238; */
  /* Because we want heade to be sticky later */
  height: 5.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo{
  height: 20px;
}

/* ********************************* */
/* NAVIGATION */
/* ********************************* */


.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: #B0BCC2;
  font-size: 1.8rem;
  transition: all 0.3s;
}



.main-nav-link:hover,
.main-nav-link:active{
  color: #cf711f;
  
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  padding: 0.6rem 2.4rem;
  border-radius: 9px;
  color: #e67e22;
  border: 1px solid #eeb582;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
  background-color: #faf1e9;
  border: 1px solid #ca874d;

}

/* MOBILE */
.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;
  display: none;

}

.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}


      .icon-mobile-nav[name="close-outline"]{
        display: none;
      }

      /* Stocky navigation */
      .sticky .header{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 8rem;
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(255,255,255,0.97);
        z-index: 999;
        box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
      }
    .sticky .section-hero{
        margin-top: 9.6rem;
      }


      @media(max-width:1000px){
          /* MOBILE NAVIGATION */
  .btn-mobile-nav{
    display: block;
    z-index: 9999;
  }

  .main-nav{
    background-color: rgba(255,255,255,0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* HIde  navigation */
    /* Allows no transtions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it  unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */

    visibility: hidden;

  }

  .nav-open .main-nav{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);

  }

  .nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
  }


  .nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
  }

  .main-nav-list{
    flex-direction: column;
    gap: 4.8rem;
  }
}

.main-nav-link:link,
.main-nav-link:visited{
  font-size: 2rem;
}
      