*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{

  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

}
 
body{
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  background-image: url("https://source.unsplash.com/1100x900/?nature");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
/* Nav section */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  padding: 0 9.6rem;
  position: relative;
}

.header-text{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999;

}


/* cursol animation after page loaded */


#content-placeholder {
  display: none;
}
#loading-animation p{
  font-size: 14px;
  color: green;
}

/* spinner create */

#loading-animation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F2F6F8;
}
.spinner{
  height: 80px;
  width: 80px;
  border: 8px solid black;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner{
  form{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

/* Login box container */
.container{
  justify-self: end;
  border: 1px solid #ccc;
  padding: 3.1rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.35);
  border-radius: 10px;
  margin-top: 18px;

}

.login-section{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form-input{
  border-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1.8rem;
}


.stay-login{
  display: flex;
}

.stay{
  display: flex;
  gap: 2.4rem;
  
}
label{
  cursor: pointer;
  font-size: 1.6rem;
}

.input::placeholder{
  font-size: 1.6rem;
  text-align: left;
  margin-left: 0;

}
.input{
  padding:1rem;
  box-sizing: content-box;
  width:90%;
  font-size: 1.6rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border-radius: 5px;
}
input.larger {
  width: 2.4rem;
  height: 1.5rem;
  cursor: pointer;
}


.forgot-password a{
  font-size: 1.6rem;
  color: #03a9f4;
  background-color: transparent;
  text-decoration: none;
}

.forgot-password a:hover{
  border-bottom: 1px solid #03a9f4;
}

button{
  padding: 1rem;
  text-transform: uppercase;
  background-color: #03a9f4;
  color: #f2f6f8;
  opacity: .65;
  cursor: pointer;
  transition: all ease 0.2s;
  border-radius: 5px;
  font-weight: 500;

}
button:active{
  scale: 0.9;
}

.google-login{
  display: flex;
  border: 1px solid #c6d2d9;
  background: #fefefe;
  padding: 8.512px 10.500px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.google-login a img{
  height: 25px;
  width: 25px;
}
.google-log{
  text-decoration: none;
  color: #666666;
}
.google-log-txt{
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
}
.error-msg{
  color: #ff0000;
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 400;
}

#wish-time{
  text-align: center;
  font-family: sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  color: green;
  margin-top: 0.8rem;
}

#currentIP{
  font-size: 1.8rem;
}

#popupPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo-txt{
  font-size: 3.6rem;
  cursor: pointer;
}

.logo-txt span{
  color: red;
}

.footer-bar{
  max-width: 120rem;
  margin: auto;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
  color: black;
}

.footer-bar a{
  font-size: 1.6rem;
  text-decoration: none;
}
#code{
  font-size: 2rem;
}


/* Responsive Media queries */

@media (max-width:600px){
  .header{
    padding: 0 6.6rem;
  }
}

@media (max-width:450px){
  .header{
    padding: 0 3.6rem;
  }
}

@media (max-width:380px){
  .header-text{
    font-size: 12px;
  }
  .header{
    padding: 0 1.6rem;
  }
  .google-log-txt{
    font-size: 14px;
    text-align: center;
  }
}


@media (max-width:340px){
  .header-text{
    font-size: 10px;
  }
}

@media (max-width:305px){
  .header-text{
    font-size: 10px;
  }
  .google-log-txt{
    font-size: 12px;
    text-align: center;

  }
}

.get-started,.unsubscribe-text{
  text-align: center;
  margin-top: 8px;
}

.get-started{
  font-size: 20px;
}

.unsubscribe-text{
  opacity: 50%;
}



