.signupButton{
  text-decoration: none;
  color: #3498db;
  font-size: 16px;
}

.get-started,.unsubscribe-text{
  text-align: center;
  margin-top: 8px;
}

.get-started{
  font-size: 20px;
}

.unsubscribe-text{
  opacity: 50%;
}